* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: lavender;
}

.modal {
    background-color: white;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    width: 20%;
    height: 250px;
    position: absolute;
    left: 0;
    top: 30%;
    right: 0;
    bottom: 50%;
    margin: auto;
}

.modal-header {
    position: relative;
}

.modal-title {
    margin-top: 0;
    padding-left: 20px;
    padding-top: 5px;
}

#close {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: white;
    font-size: 15px;
}

#close:hover {
    font-weight: bold;
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.name-input {
    outline: none;
    border: 1px solid lightgrey;
    padding: 5px;
}

.buttons {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: flex-end;
}

.submit, .close {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    outline: none;
}

.submit {
    background-color: #9360bd;
    color: white;
}

.close {
    background-color: white;
    color: #9360bd;
}

.submit:hover {
    background-color: #c7a6e3;
}